.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1.5rem;
    gap: 2rem;
    background-color: var(--colorWhite);
    box-shadow: var(--shadow);

    & a,
    & a:visited,
    & a:link,
    & a:active {
        color: var(--colorBlack);
    }
    & a:hover {
        opacity: 0.8;
    }
}
